<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AirGun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>AirGun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>AirGun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>AirGun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>AirGun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,36},{36,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>AirGun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AirGun-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:547b25bae496105384abafebc271f97d:1/1$</string>
            <key>textureFileName</key>
            <string>AirGun-hd.png</string>
        </dict>
    </dict>
</plist>
