<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{74,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,172},{70,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{70,81}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{72,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{72,81}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,87},{72,83}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{72,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,83}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{72,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,83}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{72,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,87},{72,83}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{72,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>bee8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{72,83}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{72,83}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BeeAnim-ipadhd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f468c9610a1704dd52426f21501377:1/1$</string>
            <key>textureFileName</key>
            <string>BeeAnim-ipadhd.png</string>
        </dict>
    </dict>
</plist>
