<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{19,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee3.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,50},{19,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee4.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{19,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee7.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,27},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bee8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BeeAnim.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4df5874925d230c5a8475cf64d6358f:1/1$</string>
            <key>textureFileName</key>
            <string>BeeAnim.png</string>
        </dict>
    </dict>
</plist>
