<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{36,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,92},{36,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,41}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,47},{36,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,47},{36,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{36,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>bee8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BeeAnim-hd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeedf8fe85912035ccf99c53d6e34449:1/1$</string>
            <key>textureFileName</key>
            <string>BeeAnim-hd.png</string>
        </dict>
    </dict>
</plist>
