<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starExplode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,98}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{126,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>starExplode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{120,88}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{120,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starExplodeAnim-hd.png</string>
            <key>size</key>
            <string>{252,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3f201a6dff3f741d6df0ecdee10a12:001433464f9b8448842da32103c7c7df:0508416a5e4a1338c4fd8ec7d92ff368$</string>
            <key>textureFileName</key>
            <string>starExplodeAnim-hd.png</string>
        </dict>
    </dict>
</plist>
