<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starExplode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>starExplode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,44}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starExplodeAnim.png</string>
            <key>size</key>
            <string>{114,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3f201a6dff3f741d6df0ecdee10a12:001433464f9b8448842da32103c7c7df:0508416a5e4a1338c4fd8ec7d92ff368$</string>
            <key>textureFileName</key>
            <string>starExplodeAnim.png</string>
        </dict>
    </dict>
</plist>
